<!doctype html>
<html lang="en">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Exploit Tracker ::</title>
  <link rel="shortcut icon" type="image/icon" href="images/logo.ico"/>
<meta name="description" content="DriveMate device provides OBD based plug & play connected car System. An innovative vehicle tracking system provides reports, geo-fence & over speeding alerts." />
<meta name="keywords" content="vehicle tracking system, obd plug and play, plug and play tracking device, geo fences, gps tracking device, vehicle tracking system, car gps, gps device for car, gps tracking system, gps tracking software, real time tracking, real time gps tracking, connected car, connected car system" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="#"/>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
<link rel="stylesheet" href="css/customcss.css"/>        
             
    </head>
    <body onscroll="var cls=$('#bs-example-navbar-collapse-1').height();if(cls!=undefined) $('#bs-example-navbar-collapse-1').css({'height':'0px','border':'none'});">
    
   
	    <div id="wrapper"> 
 			
    
            <!-- Page Content -->
            <div id="page-content-wrapper" class="margin-a-0 padding-a-0">
    
    <!-- Navigation -->
        <nav class="navbar previewNav navbar-default navbar-fixed-top" >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                     <button type="button" class="navbar-toggle hidden visible-xs pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background:#e3edf3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                    </button>
                   <a href="index.html" class="navbar-brand"><img src="images/logog.png" class="img-responsive logog logog1" alt="MapmyIndia DriveMate"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div>
                        
                        <ul class="nav navbar-nav navbar-right" id="nav1" >
						
						<li><a class="top_link active">Overview</a>
                            </li>
                            <li><a class="top_link">Features</a>
                            </li>
                            
                            <!-- <li><a class="top_link" href="#">Product</a>
                            </li> -->
                           
                            <li><a class="top_link" href="#">Support</a>
                            </li>
							<!-- <li><a class="top_link" a href="#" >Activate</a>
                            </li> -->
                            <li><a class="top_link"  href="#">Contact</a>
                            </li>
                             
                           
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

  
  <!-- Header -->
  <!-- Carousel
    ================================================== -->
    <div id="slide" class="carousel slide" data-ride="carousel" style="margin-top:63px">
      <!-- Indicators -->
      <ol class="carousel-indicators text-left">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
        <li data-target="#slide" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active"> <a href="#"><img src="images/slider-truck2.png" alt=""/></a>
          <div class="container">
            <div class="carousel-caption">
              
             
            </div>
          </div>
        </div>
        
        <div class="item"> <a href="contact.html"><img src="images/slide2.png" alt=""/></a>
          <div class="container">
            <div class="carousel-caption">
              
             
            </div>
          </div>
        </div>

<div class="item">
          <a href="contact.html"><img src="images/slider-truck2.png" class="pull-right" alt=""/></a>
          <div class="container">
            <div class="carousel-caption">
              
             
            </div>
          </div>
        </div>
        
        <div class="item">
          <a href="contact.html"><img src="images/slider-truck2.png" class="pull-right" alt=""/></a>
          <div class="container">
            <div class="carousel-caption">
              
             
            </div>
          </div>
        </div>
        
        
        
        
        
      </div>

 <footer class="short" id="footer">
				<div class="container">
					<div class="row">
                    <div class="col-md-4 col-centered">
					
					<h2 class="head_foot">Exploit Tracker</h2><div class="foot_log"><a href="#"><img src="images/logosmalll.png" alt="fl"/></a></div>
							<hr class="col-centered">
						<div class="head_foot">
							<h4 class="heading-primary">We are social</h4>                            
							<ul class="social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
                    <div class="row "><div class="col-md-12 col-centered" style="color:#777">
					<div class="head_foot">
					© Copyright 2016.
						Exploit Tracker Pvt. Ltd.
						All Rights Reserved.
						</div>
				</div>
				</div>
				</div>
				
			</footer>
 
  
   <div class="clearfix"></div>
   
   </div>
 
    </div>
    </div>     
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div id='f_cont'></div><script>
$('#f_cont').load('http://www.mapmyindia.com/footer_all.html');
</script>  
		    

</body>
    


</html>
