<!doctype html>
<html lang="en">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Exploit Tracker ::</title>
  <link rel="shortcut icon" type="image/icon" href="images/logo.ico"/>
<meta name="description" content="DriveMate device provides OBD based plug & play connected car System. An innovative vehicle tracking system provides reports, geo-fence & over speeding alerts." />
<meta name="keywords" content="vehicle tracking system, obd plug and play, plug and play tracking device, geo fences, gps tracking device, vehicle tracking system, car gps, gps device for car, gps tracking system, gps tracking software, real time tracking, real time gps tracking, connected car, connected car system" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="#"/>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
<link rel="stylesheet" href="css/customcss.css"/>        
             
    </head>
    <body onscroll="var cls=$('#bs-example-navbar-collapse-1').height();if(cls!=undefined) $('#bs-example-navbar-collapse-1').css({'height':'0px','border':'none'});">
    
   
	    <div id="wrapper"> 
 			
    
            <!-- Page Content -->
            <div id="page-content-wrapper" class="margin-a-0 padding-a-0">
    
    <!-- Navigation -->
        <nav class="navbar previewNav navbar-default navbar-fixed-top" >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                     <button type="button" class="navbar-toggle hidden visible-xs pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background:#e3edf3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                    </button>
                   <a href="index.html" class="navbar-brand"><img src="images/logog.png" class="img-responsive logog logog1" alt="MapmyIndia DriveMate"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div>
                        <ul class="nav navbar-nav navbar-right" id="nav1" >
                            <li><a class="top_link " href="index.html">Overview</a>
                            </li>
                            <li><a class="top_link" href="product.html">Features</a>
                            </li>
                            
                            
                            <li><a class="top_link" href="support1.html" >Support</a>
                            </li>
                            
                            
                            <li><a class="top_link"  href="contactus.html">Contact</a>
                            </li>
                              <li><a class="top_link active" href="#" >Login</a>
                            </li>
                           
                        </ul>
                       
                    </div>
                </div>
            </div>
        </nav>

  
  <!-- Header -->
  <!-- Carousel
    ================================================== -->
    <div id="slide" class="carousel slide" data-ride="carousel" style="margin-top:63px">
    <header class="header">
        <div class="container">
             <div class="row">
            <div class="col-lg-1"></div>
              <div class="col-lg-9">
               <div class="drivem text-center" style="padding-top:30px">
               <p>Exploit Tracker</p>
                 <h3><strong>Be connected to your car, always.</strong></h3>
<div class="cls"></div>

</div>
              </div>
              <div class="col-lg-2"></div>
              
              
              
              
            </div>
        </div>
    </header>
    </div><!-- /.carousel -->

  <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-centered">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Login</div>
                        
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>

                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <a id="btn-lg-login" href="#" class="btn btn-success">Login  </a>
									  <a href="#" class="signup1"onClick="$('#loginbox').hide(); $('#forgotbox').show()">
                                            forgot password
                                        </a>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:14px" >
                                            Don't have an account! 
                                        <a href="#" class="signup"onClick="$('#loginbox').hide(); $('#forgotbox').hide() ;$('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form> 
                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#"class="signup" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label signlabel">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="firstname" class="col-md-3 control-label signlabel">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-md-3 control-label signlabel">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label signlabel">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label signlabel">Confirm Password</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="icode" placeholder="Confirm Password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i>&nbsp Sign Up</button>
                                       <!--  <span style="margin-left:8px;">or</span>   -->
                                    </div>
                                </div>                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
      	  </div> 
		  
		  <!--------------------------forgotpwd start------------------->
		  
		  <div id="forgotbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Change Password</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#"class="signup" onclick="$('#signupbox').hide(); $('#loginbox').show() ; $('#forgotbox').hide()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label signlabel">Old Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
								 <div class="form-group">
                                    <label for="password" class="col-md-3 control-label signlabel">New Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                     <div class="form-group">
                                    <label for="password" class="col-md-3 control-label signlabel">Confirm Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="passwd" placeholder="Password">
                                    </div>
                                </div>
                                    
                                    
                               

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Change Password</button>
                                       
                                    </div>
                                </div>                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
      	  </div> 
		  
		  <!-----------------forgot pwd----------------------------------------->
    
	</div>
    
      
    </div>
    </div>       
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
        
 <script>
 /*
 * Save contact@mapmyindia.com
 * 8 dec 2015
 */
function contact()
{
	
    var name=$('#name').val();
    var email=$('#email').val();
    var phone=$('#phone').val();
    var company=$('#company').val();
    var message=$('#message').val();
    var city=$('#city').val();
    var query=$("#interest").val();
    var url="contact_save";
    if(req) req.abort();
    var req=$.ajax({type: "POST",url:url,data: "action=contact&name="+name+"&email="+email+"&query="+query+"&phone="+phone+"&city="+city+"&company="+       company+"&message="+message,cache: false,success: function(response)
       {
		   if(response.trim()=='') response='Unable to connect, try later';
		   $('#alert').stop().html(response).fadeIn().fadeOut(8000);
		   if(response.indexOf('Thanks')!=-1) { $("input[type=text]").val("");
                $("textarea").val("");}
       }
    }); 
}
            
        </script>
<div id='f_cont'></div>
 	
 <footer class="short" id="footer">
				<div class="container">
					<div class="row">
                    <div class="col-md-4 col-centered">
					
					<h2 class="head_foot">Exploit Tracker</h2><div class="foot_log"><a href="#"><img src="images/logosmalll.png" class="foot_smal" alt="fl"/></a></div>
							<hr class="col-centered">
						<div class="head_foot">
							<h4 class="heading-primary">We are social</h4>                            
							<ul class="social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
                    <div class="row "><div class="col-md-12 col-centered" style="color:#777">
					<div class="head_foot">
					© Copyright 2016.
						Exploit Tracker Pvt. Ltd.
						All Rights Reserved.
						</div>
				</div>
				</div>
				</div>
				
			</footer>
 
 
  
   <div class="clearfix"></div>
   
   </div>
 
    </div>
    </div>     
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div id='f_cont'></div>
		    

</body>
    


</html>
