<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Exploit Tracker ::</title>
  <link rel="shortcut icon" type="image/icon" href="images/logo.ico"/>
<meta name="description" content="Exploit Tracker device provides OBD based plug & play connected car System. An innovative vehicle tracking system provides reports, geo-fence & over speeding alerts." />
<meta name="keywords" content="vehicle tracking system, obd plug and play, plug and play tracking device, geo fences, gps tracking device, vehicle tracking system, car gps, gps device for car, gps tracking system, gps tracking software, real time tracking, real time gps tracking, connected car, connected car system" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="#"/>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
<link rel="stylesheet" href="css/customcss.css"/>        
             
    </head>
    <body onscroll="var cls=$('#bs-example-navbar-collapse-1').height();if(cls!=undefined) $('#bs-example-navbar-collapse-1').css({'height':'0px','border':'none'});">
    
   
	    <div id="wrapper"> 
 			
    
            <!-- Page Content -->
            <div id="page-content-wrapper" class="margin-a-0 padding-a-0">
    
    <!-- Navigation -->
        <nav class="navbar previewNav navbar-default navbar-fixed-top" >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                     <button type="button" class="navbar-toggle hidden visible-xs pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background:#e3edf3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                    </button>
                   <a href="index.html" class="navbar-brand"><img src="images/logog.png" class="img-responsive logog logog1" alt="MapmyIndia Exploit Tracker"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div>
                        <ul class="nav navbar-nav navbar-right" id="nav1" >
                            
                            <li><a class="top_link" href="index.html">Overview</a>
                            </li>  
                            
                          <li><a class="top_link active">Features</a>
                            </li>
                            
                           <!--  <li ><a class="top_link" href="app.html">App</a>
                            </li> -->
                         
                            <li><a class="top_link" href="support1.html">Support</a>
                            </li>
                            <li><a class="top_link"  href="contactus.html">Contact</a>
                            </li>
                     <li><a class="top_link"  href="login.html">Login</a>
                            </li>
                          
                           
                        </ul>
                       <!--  <ul class="nav navbar-nav navbar-right" id="nav1" >
						
						<li><a class="top_link active" href="index.html">Overview</a>
                            </li>
                            <li><a class="top_link" href="product.html">Features</a>
                            </li>
                            
                            <!-- <li><a class="top_link" href="#">Product</a>
                            </li> 
                           
                            <li><a class="top_link" href="#">Support</a>
                            </li>
							<!-- <li><a class="top_link" a href="#" >Activate</a>
                            </li> 
                            <li><a class="top_link"  href="#">Contact</a>
                            </li>
                             
                           
                        </ul> -->
                    </div>
                </div>
            </div>
        </nav>
  
  <!-- Header -->
  <!-- Carousel
    ================================================== -->
    <div id="slide" class="carousel slide" data-ride="carousel" style="margin-top:63px">
      <!-- Indicators -->
      
      <div class="carousel-inner" role="listbox">
        <div class="item active"> <a href="contact.html"><img src="images/product1.jpg" alt=""/></a>
          
        </div>

      </div>

    </div>
  
  
  
    
    
    
    <div class="container">
    <div class="row" style="padding-top:40px">
     <div class="col-md-12 features text-center"><h1>Exploit Tracker is  a small smart device for your Perticular.</h1>
  <p> Simply plug the device into the OBD port of  your car to enable your very own connected car system. There is NO wire cutting  required, so feel free to plug the device into any car without worrying about  how it will affect your warranty!</p>
</div>
 
   
  

  </div>
  </div>
  
  
  
  
   <div class="container">
   
   <div class="row" style="margin:40px 0">
   
<div class="col-lg-8 features">
  <h1>Features <img src="images/new.png" align="absmiddle" alt=""/></h1>
  <ul class="li-test" style="color:#696d71">
  <li><strong>GPS vehicle tracking</strong>: Check In-app notifications for Harsh Braking, Harsh Acceleration &amp; Harsh Cornering Events.</li>
    <li><strong>Fully automatic record keeping</strong><strong></strong>: New Document wallet for storing Driver's License, Insurance, Registration, PUC and Service documents.</li>
    <li><strong>Reports</strong>: Customize In -app Car Icon  according to your preferences.      </li>
    <li><strong>Fleet Performance optimization</strong>: Plan your trips with an estimated time of arrival feature. </li>
    <li><strong>Real-time overview of your fleet</strong>: Identify the point of occurrences of alarms. </li>
    <li><strong>Flexible Job dispatch to workers in field</strong>: Instantly share your car’s location with your family & friends via messaging services.</li>
    <li><strong>Safety driving Coming soon</strong>: Visual Track points provide sense of direction while monitoring your vehicle's live movement .</li>
	<li><strong>Rash driving alerts </strong>: Visual Track points provide sense of direction while monitoring your vehicle's live movement .</li>
  </ul>
 </div> 
 
 <div id="animated-example" class="col-md-4 animated fadeInRight text-center"><br>
<img src="images/banner11.png"  alt="" class="img-responsive"/> </div>

    </div>
    
     <div class="row" style="margin:10px 0">
  
   
   <div id="animated-example" class="col-md-4 animated fadeInLeft text-center">
<img src="images/product-fea.jpg"  alt="" class="img-responsive"/> </div>
  

<div class="col-lg-8 features">
 <ul class="li-test" style="color:#696d71">
   <li><strong>Geofences and Geofence Analytics</strong>: See the live location of your  vehicle whenever you need from anywhere in the world! Location data is shown on  highly detailed maps with house numbers using real-time tracking technology.</li>
   <li><strong>Proof of work done</strong>: Prevent misuse and auto theft by  getting real-time notifications when your ignition is turned on or off, and when  the device is unplugged. </li>
   <li><strong>Offline tracking</strong>:  Configure your device with desired speed and idle time threshold values from  the Exploit Tracker application &amp; get alerts for over speeding&nbsp; and idling  scenarios.</li>
   <li><strong>Remote controlling the vehicle </strong>: You&rsquo;re busy. We know!   Simply enter the dates for your insurance renewal and your car  servicing, and we&rsquo;ll make sure to remind you.</li>
   <li><strong>Fuel monitoring & A/C monitoring </strong>: Mark areas on the map and get  alerts on vehicle&rsquo;s entry and exit on your areas.</li>
   <li><strong>Door monitoring & Speed indication </strong>: Ever been in a situation where you forgot where you  parked? With Exploit Tracker, you will never lose your car again. Track your car  using the mobile app and get directions to it from anywhere!</li>
    <li><strong>DNS/ IP flexibility</strong>: Ever been in a situation where you forgot where you  parked? With Exploit Tracker, you will never lose your car again. Track your car  using the mobile app and get directions to it from anywhere!</li>
	 <li><strong>Arrival alert & dispatch reports </strong>: Ever been in a situation where you forgot where you  parked? With Exploit Tracker, you will never lose your car again. Track your car  using the mobile app and get directions to it from anywhere!</li>
 </ul>
 </div>
  
    </div>
</div>
  
  
  <section class="drivemax">
  
    <div class="container">
    <div class="row" style="padding:10px 0 20px;">
  <div class="col-md-8 features" >
   <h1 style="padding-top:0px">Exploit Tracker Max! <img src="images/new.png" align="absmiddle" alt=""/></h1>
  <p>Enhance car care opportunities with Drivemate Max. This version of  Drivemate includes some additional set of features for consumers interested in better and easier customer service from their dealership. 
  </p>
  <h4>Stay connected with your car and your dealership for better customer service!</h4>
  <ul class="li-test" style="color:#696d71">
    <li>Quick access to your dealer’s contact details </li>
    <li>Get directions to a service center with the tap of a button </li>
    <li>Reserve a service time for your car directly from your app </li>
    <li> If the car breaks down call for Road Side Assistance (RSA) from the app itself </li>
    <li>Share your exact location with the RSA vehicle for faster assistance</li>
  </ul>
  
  </div>
  
  <div class="col-md-4" style="padding-top:20px" >
   <h1></h1>
   <div class="animated fadeInRight text-center">
<img src="images/drivemate-max-img.jpg"  alt="" class="img-responsive"/> </div>
  
  </div>
  <div class="clearfix"></div>
  <div class="buy text-center" style=" margin-bottom:30px; padding-top:20px"><a href="#">Get It NOW</a></div>  
    </div>
  </div>   
  </section>
  
  
  
  
  
  
  <section class="contentr">
  
    <div class="container">
    <div class="row" style="padding:40px 0;">
  <div class="col-md-7 featuresapp" >
   <h1 style="padding-top:0px">Just Connect to Exploit Tracker</h1>
  <p>Make your car safer and smarter with the next generation car technology. Just connect Exploit Tracker to the OBD port of your vehicle and view location, reports and alerts.  </p>
  
  </div>
  <div  class="col-md-2"></div>
 <div id="animated-example" class="col-md-4"  ><img src="images/device-plug.png"  alt="" class="img-responsive"/></div>
  
  </div>
  </div>   
  </section>
  
  <section>
  <div class="container" style="margin-top:30px">
  <div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Tech Specs</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dimensions</td>
        <td>L(50.7mm) X W(49.6mm) X H(25mm)</td>
        </tr>
      <tr>
        <td>Battery </td>
        <td>170mAh, 3.7v, Rechargeable Lithium-polymer </td>
        </tr>
      <tr>
        <td>Status LED&#13;</td>
        <td>2 LED&rsquo;s: GPS and GSM </td>
      </tr>
      <tr>
        <td>GPS Sensitivity</td>
        <td>-161dBm</td>
      </tr>
      <tr>
        <td>GPS</td>
        <td>High-sensitivity GPS with accuracy of ≤ 10m</td>
      </tr>
      <tr>
        <td>GSM</td>
        <td>GSM 850/ 900/ 1800/ 1900 Mhz</td>
      </tr>
      <tr>
        <td>Operating Temp.</td>
        <td>-25 °C to +55°C</td>
      </tr>
      <tr>
        <td>Storage Temp.</td>
        <td>-40 °C to +70°C</td>
      </tr>
      <tr>
        <td>Power Supply</td>
        <td>10-16 V DC 2W Max</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td>5-95%</td>
      </tr>

    </tbody>
  </table>
  </div>
 <div class="col-md-1">
  
  </div>
  
   <div class="col-md-5">
  <table class="table">
    <thead>
      <tr>
        <th>In The Box</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><ul class="li-test">
          <li>Exploit Tracker       Device</li>
          <li>User       Manual, </li>
          <li>Quick       Start Guide, </li>
          <li>Warranty       card,</li>
          <li>SIM       Agreement and </li>
          <li>Activation Form.<br>
</li>
        </ul>

          </td>
        </tr>
    </tbody>
  </table>
  </div>  
  
  
  </div>
  
  
  
  
  </section>
  
<footer class="short" id="footer">
				<div class="container">
					<div class="row">
                    <div class="col-md-4 col-centered">
					
					<h2 class="head_foot">Exploit Tracker</h2><div class="foot_log"><a href="#"><img src="images/logosmalll.png" class="foot_smal" alt="fl"/></a></div>
							<hr class="col-centered">
						<div class="head_foot">
							<h4 class="heading-primary">We are social</h4>                            
							<ul class="social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
                    <div class="row "><div class="col-md-12 col-centered" style="color:#777">
					<div class="head_foot">
					© Copyright 2016.
						Exploit Tracker Pvt. Ltd.
						All Rights Reserved.
						</div>
				</div>
				</div>
				</div>
				
			</footer>
 
   
   

    </div>
    </div>     
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
              
        
<div id='f_cont'></div>
</body>
    

<!-- Mirrored from www.mapmyindia.com/drivemate/product by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Jul 2016 09:53:29 GMT -->
</html>
