<!doctype html>
<html lang="en">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Exploit Tracker ::</title>
  <link rel="shortcut icon" type="image/icon" href="images/logo.ico"/>
<meta name="description" content="Exploit Tracker device provides OBD based plug & play connected car System. An innovative vehicle tracking system provides reports, geo-fence & over speeding alerts." />
<meta name="keywords" content="vehicle tracking system, obd plug and play, plug and play tracking device, geo fences, gps tracking device, vehicle tracking system, car gps, gps device for car, gps tracking system, gps tracking software, real time tracking, real time gps tracking, connected car, connected car system" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="#"/>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">        
<link rel="stylesheet" href="css/customcss.css"/>        
             
    </head>
    <body onscroll="var cls=$('#bs-example-navbar-collapse-1').height();if(cls!=undefined) $('#bs-example-navbar-collapse-1').css({'height':'0px','border':'none'});">
    
   
	    <div id="wrapper"> 
 			
    
            <!-- Page Content -->
            <div id="page-content-wrapper" class="margin-a-0 padding-a-0">
    
    <!-- Navigation -->
        <nav class="navbar previewNav navbar-default navbar-fixed-top" >
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                     <button type="button" class="navbar-toggle hidden visible-xs pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background:#e3edf3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                        <span class="icon-bar" style="background:#888"></span>
                    </button>
                   <a href="index.html" class="navbar-brand"><img src="images/logog.png" class="img-responsive logog logog1" alt="MapmyIndia Exploit Tracker"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div>
					 <ul class="nav navbar-nav navbar-right" id="nav1" >
                           <li><a class="top_link " href="index.html">Overview</a>
                            </li>
                            <li><a class="top_link" href="product.html">Features</a>
                            </li>
                            
                           
                            <li><a class="top_link active" >Support</a>
                            </li>
                            
                            <li><a class="top_link"  href="contactus.html">Contact</a>
                            </li>
                            
                            <li><a class="top_link"  href="login.html">Login</a>
                            </li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
        </nav>

  
  <!-- Header -->
  <!-- Carousel
    ================================================== -->
    <div id="slide" class="carousel slide" data-ride="carousel" style="margin-top:63px">
    <header class="header">
        <div class="container">
             <div class="row">
            <div class="col-lg-1"></div>
              <div class="col-lg-9">
               <div class="drivem text-center" style="padding-top:30px">
               <p>Exploit Tracker</p>
                 <h3><strong>Be connected to your car, always.</strong></h3>
<div class="cls"></div>

</div>
              </div>
              <div class="col-lg-2"></div>
              
              
              
              
            </div>
        </div>
    </header>
    </div><!-- /.carousel -->

 <div class="container" style="margin-bottom:50px">
  <div class="row" style="padding:20px 0" >
  <div class="col-md-12">
 <div class="support" style="margin-bottom:30px"><h3 >Support</h3> 

<p><strong>Email us:</strong> at <a class="link" href="mailto:support@exploitinfo.com">support@exploitinfo.com</a></p>
<p><strong>Customer Care:</strong> 998-501-2364 </p>
<p><strong>Note: </strong> If you have forgotten your password, please contact us through email or call us on the above mentioned number.</p>

</div>

<div class="support" style="margin-bottom:10px"><h3 >FAQ</h3> 
</div>
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is Exploit Tracker?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Exploit Tracker is an innovative device which provides hassle free installation (plug and play) and powerful technologies to ensure your car’s safety.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Warranty of Exploit Tracker? </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The device has a one year warranty subject to following conditions:
<ol><li>No exposure to fire or water.</li>
<li>	No use of duplicate chargers or any non-approved power source.
</li>
<li>Device should not have been repaired nor attempt to repair conducted by an unauthorized person.
</li>
<li>	Any other warranty non-conformance as observed by company upon device inspection.
</li></ol>
Note: For more details please see the warranty card provided inside the Exploit Tracker box.

</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. How can I know Exploit Tracker’s location?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You can know the last location of your Exploit Tracker by using the Exploit Tracker Mobile application.</p>
                </div>
            </div>
        </div>
        
        
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. My location last updated is 2 to 3 hrs ago, what should I do?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>  <ul><li>At all times check the device to be powered on and is connected to your vehicle.
</li><li>Sometimes this may be due to non-availability of GSM network.
</li><li>If the device is not connected to your vehicle then it may be discharged.
</li></ul>  

</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Can anyone track my Exploit Tracker Device?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The notifications will be received by Exploit Tracker authentic user. Direct view will require a login and password to access the Exploit Tracker mobile application. Notifications are sent via sms and/or email.</p>
                </div>
            </div>
        </div>
        
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">6. What is the accuracy of the GPS in my Exploit Tracker Device?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The device is accurate within 15 meters (in open sky) subject to technological constraints like atmospheric conditions, GPS signals etc.</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">7. How can I know if somebody unplugs my Exploit Tracker?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The server sends sms/email alerts on the contact configured by you. You can view the device location on mobile app and get directions to the device.</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">8. What do I do with my Exploit Tracker when I first receive it?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>1) Once you receive your Exploit Tracker we recommend you to connect it to your vehicle’s OBD port (Port location may vary from vehicle to vehicle). You will see the LED flashing indicating the device has powered on.<br>
<br>
 
2) Kindly visit the site <a href="mapmyindia.com/drivemate/activation.html">mapmyindia.com/drivemate/activation</a> in order to activate the device. Please fill in all the details mentioned in the form and submit signed documents which are to be uploaded and submit the form. You shall shortly receive the login credentials within 2 working days.

</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">9. How do I activate my Exploit Tracker?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Please follow the following steps in order to activate:
<ol><li>Browse to our website mapmyindia.com/drivemate/activation.</li>
<li>Fill the form with the required details.
</li>
<li>Upload the signed documents required to be uploaded
</li>
<li>Submit the form
</li></ol>
When Activation is finished you will be notified by e-mail with login credentials within 2 working days.
</p>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">10. The Navigate LED is continuously ON, what does that mean?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This implies that Exploit Tracker is not connected to GPS and is unable to update location information.
</p>
                </div>
            </div>
        </div>
        
     
     
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">11. The Navigate LED is blinking every second, what does that mean?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This implies that the Exploit Tracker is connected to GPS and is getting location information successfully.
</p>
                </div>
            </div>
        </div>

        
   <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseToweleve">12. The status LED is blinking every seconds, what does it mean?</a>
                </h4>
            </div>
            <div id="collapseToweleve" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This implies that Exploit Tracker device is functioning in normal mode.
</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTharteen">13. How do I power the Device "On"?</a>
                </h4>
            </div>
            <div id="collapseTharteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> To power ON the device Connect the device to OBD port of your vehicle.
	

</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">14. How do I log into the Exploit Tracker mobile  app and view my device location?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Open the Exploit Tracker mobile application on your phone and . Enter your username and password details provided to you by our team earlier.
</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">15. Which platforms does the Mobile App support?</a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>There is a Exploit Tracker mobile app is available for IPhone, Android & Windows users. The Exploit Tracker mobile application can be downloaded from their respective stores.
</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">16. How long will the mobile app hold my history? How far back can I see?</a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The Application doesn’t delete any data from server. This implies that the history will be stored from the time you start using Exploit Tracker.

</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">17. Why did I stop receiving SMS messages for device alerts?</a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This may be due to two cases: 
Case1: The SMS package has exhausted. If so kindly recharge your account.<br>
 
Case2: There is no network coverage for the device to send data on server.

</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">19. The alerts are delayed, why so?</a>
                </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>This may be due to network connection errors. The server immediately sends alerts to the respective mobile numbers/email ids.
</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">20. Forgot Password</a>
                </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>If you have forgotten your password, please contact us through email or call us on the above mentioned contact.
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">21. I want to change the name of my Exploit Tracker, What should i do?</a>
                </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The name of your Exploit Tracker can be changed, just go to My Car Care section in mobile application and change the parameter “Name”.
</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">22. I want to know if Exploit Tracker is compatible with my car?</a>
                </h4>
            </div>
            <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Please call on the customer support numbers and they will be able to assist you.

</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo">23. How do I check daily alarms from my Drivemate?</a>
                </h4>
            </div>
            <div id="collapseTwentytwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Open the Exploit Tracker mobile application on your phone and navigate to Car Alarms section.</p>
					<p>Daily alarm logs could be checked under this section.</p>
                </div>
            </div>
        </div> 
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree">24. How do I enable/disable SMS or Email alerts notifications from Drivemate?</a>
                </h4>
            </div>
            <div id="collapseTwentythree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Open the Exploit Tracker mobile application on your phone and navigate to Car Alarms - Alarm Settings(icon).
</p><p>Notifications could be turned ON/OFF using the option provided against each alarm.</p>
                </div>
            </div>
        </div> 
        
        
        
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfor">25.  How do I create or deactivate any Geofence area alarms?</a>
                </h4>
            </div>
            <div id="collapseTwentyfor" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Open the Exploit Tracker mobile application on your phone and navigate to Car Alarms -> Alarm Settings(icon)-> +Geofence.</p>
<p>New areas could be created under this section. Using the checkbox against each geofence, entry and exit alerts for that area could be managed.</p>
<p>If the checkbox against any geofence area is un-checked then it will be treated as de-activated Geofence and no SMS/email notifications will be generated.
</p>
                </div>
            </div>
        </div> 
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfive">26.  How do I change settings for Overspeed and Idle Alarms?</a>
                </h4>
            </div>
            <div id="collapseTwentyfive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Open the Exploit Tracker mobile application on your phone and navigate to Car Alarms -> Alarm Settings(icon).</p>
<p>To change the Overspeed settings tap on "+Over Speeding" . Change the values and tap on save button.</p>
<p>To change the Idle settings tap on "+Idling" . Change the value and tap on save button.
</p>
                </div>
            </div>
        </div> 
        
 
    </div>
</div>


  
  </div>

 

 
 
    </div>
  </div>
  
 
    </div>
    </div>     
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div id='f_cont'></div>
<footer class="short" id="footer">
				<div class="container">
					<div class="row">
                    <div class="col-md-4 col-centered">
					
					<h2 class="head_foot">Exploit Tracker</h2><div class="foot_log"><a href="#"><img src="images/logosmalll.png" class="foot_smal" alt="fl"/></a></div>
							<hr class="col-centered">
						<div class="head_foot">
							<h4 class="heading-primary">We are social</h4>                            
							<ul class="social-icons">
                                <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
                    <div class="row "><div class="col-md-12 col-centered" style="color:#777">
					<div class="head_foot">
					© Copyright 2016.
						Exploit Tracker Pvt. Ltd.
						All Rights Reserved.
						</div>
				</div>
				</div>
				</div>
				
			</footer>
 
 
  
   <div class="clearfix"></div>
   
   </div>
 
    </div>
    </div>     
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div id='f_cont'></div>
</body>
    


</html>
